.mainContainer {
	margin: auto;
	background-color: #fff;
	width: 700px;
	

}

h1 {
	text-align: center;
}

.input-field {
	padding-left: 10px;
}

.postedContainer {
	margin: 5px;
	margin-top: 20px;
	padding: 20px;
	width: 700px;
	
	background-color: blue;
	border-radius: 10px;
	color: #fff;
}

.submitBox {
	padding-left: 5px;
	padding-top: 5px;
}

.input-field {
	padding: 10px;
}



.postedQuote {
	font-size: 18px;
}

.postedAuthor {
	float: right;
	font-style: italic;

}

.glyphicon-star {
	color: gray;
	height: 15px;
	width: 15px;
}
