html, body {
	height: 100%;
	background-color: #334C4C;

}

.mainContainer {
	margin: auto;
	margin-top: 0px;
	background-color: #fff;
	width: 700px;
	height: 100%;
	border-radius: 10px;	

}

#edit {
	padding-left: 20px;
}

h1 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	padding-left: 20px;
	font-size: 16px;
}

.input-field {
	padding-left: 20px;

}

.postedContainer {
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	width: 600px;
	
	background-color: #C9C9C9;
	
	color: #fff;
}

.submitBox {
	padding-left: 5px;
	padding-top: 5px;
}

.input-field {
	padding: 10px;
	font-size: 12px;
}



.postedQuote {
	font-size: 18px;
	color: #191919;
}

.postedAuthor {
	font-style: italic;
	color: #191919;
}

}

.glyphicon-star {
	color: gray;
	height: 15px;
	width: 15px;
}
